<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Failure</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css
    " rel="stylesheet">
</head>

<body>

    <div class="h-200 p-5 text-white bg-danger">
        <div class="ms-5">
            <h1>Uh Oh!</h1>
            <p>You have entered wrong username or password.</p>
            <button class="btn btn-lg btn-warning" type="submit" name="button"><a href="/login"> Try
                    Again</a></button>
        </div>

    </div>
</body>

</html>