<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css
    " rel="stylesheet">
</head>

<body>

    <div class="h-200 p-5 text-white bg-success">
        <div class="ms-5">
            <h1>Success ✅</h1>
            <p>Thank you for Visiting us. </p>
        </div>

    </div>
</body>

</html>